// 基础色
$c-grey:#e5e5e5;
$c-blue:#566B96;
$c-blue-light:#3182AC;
$c-red:#FF4C4C;
$c-white:#FFFFFF;
.color-red{
  color:$c-red;
}
// 布局
.fl {
  float: left;
}

.fr {
  float: right;
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
// 大小宽度
.width50 {
  width: 50%;
}

.width33 {
  width: 33.3%;
}

// 公共组件
.tab-wrap {
  color:$c-white;
  padding:30rpx 0;
  padding-bottom: 20rpx;
  font-size: 24rpx;
  background-color: $c-blue-light;
  .tab {
    float: left;
    text-align: center;
    i {
      display: block;
      margin-bottom: 18rpx;
    }
  }
  .tab-text {}
}



.bd-bm-grep {
  border-bottom: 1px solid $c-grey;
}

.pleft-30 {
  padding-left: 30rpx;
}

.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}

button.orange {
  background-color: #FF8C19;
  font-size: 28rpx;
  color: #fff;
  border: none;
  border-radius: 0px;
  height: 96rpx;
  line-height: 96rpx;
}