// >>>>>>>>>>>基础色<<<<<<<<<<<<<
$c-grey:#e5e5e5;
$c-blue:#566B96;
$c-blue-light:#3182AC;
$c-red:#FF4C4C;
$c-white:#FFFFFF;
.color-red{
  color:$c-red;
}
// border-bottom
.bd-bm-grep {
  border-bottom: 1px solid $c-grey;
}
// >>>>>>>>>>>布局<<<<<<<<<<<<<
.fl {
  float: left;
}
.fr {
  float: right;
}
.width50 {
  width: 50%;
}
.width33 {
  width: 33.3%;
}
.pleft-30 {
  padding-left: 30rpx;
}
.contain-top{
  border-top: 1px solid red;
  margin-top: 140rpx;
}
// >>>>>>>>>>>公共组件<<<<<<<<<<<<<
.tab-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  color:$c-white;
  padding-bottom: 20rpx;
  font-size: 24rpx;
  background-color: $c-blue-light;
  .tab {
    
  padding:30rpx 0;
    float: left;
    text-align: center;
    i {
      display: block;
      margin-bottom: 18rpx;
    }
  }
  .tab-text {}
}
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}
button.orange {
  background-color: #FF8C19;
  font-size: 28rpx;
  color: #fff;
  border: none;
  border-radius: 0px;
  height: 96rpx;
  line-height: 96rpx;
}