.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

.contain {
  form {
    display: block;
    margin-bottom:200rpx;
    .title {
      color: #3B4252;
      font-size: 28rpx;
      font-weight: blod;
      height: 88rpx;
      line-height: 88rpx;
      border-bottom: 1px solid #E5E5E5;
    }
    .form-group {
      font-size: 28rpx;
      overflow: hidden;
      image.icon {
        width: 28rpx;
        height: 28rpx;
        float: left;
        position: relative;
        top: 40rpx;
      }
      input {
        display: inline-block;
        margin-left: 20rpx;
        padding: 30rpx 0;
        width: 92%;
        float: right;
        border-bottom: 1px solid #E5E5E5;
      }
      .input-nav {
        position: relative;
        top: -75rpx;
        float: right;
        margin-right: 30rpx;
        display: inline-block;
        color:#566B96;
      }
    }
  }
}

.pleft-15 {
  padding-left: 30rpx;
}

button.orange{
  background-color:#FF8C19;
  font-size:28rpx;
  color:#fff;
  border:none;
  border-radius:0px;
  height:96rpx;
  line-height:96rpx;
}