@import "component_scss/_common.scss";
@import "component_scss/_font.scss";
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

.contain {
  form {
    display: block;
    margin-bottom: 200rpx;
    .title {
      color: #3B4252;
      font-size: 28rpx;
      font-weight: blod;
      height: 88rpx;
      line-height: 88rpx;
      border-bottom: 1px solid #E5E5E5;
    }
    .form-group {
      font-size: 28rpx;
      i {
        float:left;
        position: relative;
        top: 28rpx;
        padding-right: 20rpx;
        color: $c-grey;
      }
      input {
        float: right;
        display: inline-block;
        width:92%;
        padding: 28rpx 0;
      }
      .input-nav {
        float: right;
        position: absolute;
        right: 0;
        border:none;
        margin-top: 20rpx;
        font-size: 28rpx;
        color:$c-blue;
      }
      .focus{
        color:$c-red;
      }
      .nofocus{
        color:$c-grey;
      }
    }
  }
}
